<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="false" name="All QAFramework Tests" parallel="classes" thread-count="8">
        <classes>
            <class name="apiTestSuites.OppFiTestSuite">
            </class>
            <class name="webTestSuites.PodiumTestSuite">
            </class>
            <class name="webTestSuites.RyanSpecialtyTestSuite">
            </class>
            <class name="webTestSuites.InvoiceCloudTestSuite">
            </class>
        </classes>
    </test>
</suite>